.colors {
    background-color: #4a73b1;
    background-color: #92dccd;
    background-color: #dbe4cf;
    background-color: #fffefc;
    background-color: #ffe9ca;
}



.listHouses{
    margin-top: 150px;
}
.space{
    height: 20px;
}

.list-houses{
    display: flex;
    justify-content: center ;
    
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    text-align: center;
}

.card-house{
    border: 1px solid #c9c6c6;
    border-radius: 20px;    
    /* background-color: #dbe4cf; */
    height: 520px;
    padding-bottom: 30px;
    width: 30%;
    box-shadow: 7px 7px 20px #c9c6c6;
    text-decoration: none;
    color: black;
}
.card-house:nth-child(2){
    margin-left: 4%;

}
.card-house:hover{
    /* height: 700px; */
    /* width: 50%; */
    cursor: pointer;
}
.card-house img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;    
    border-top-right-radius: 20px;    
    box-shadow: 2px 2px 10px #c9c6c6;

}

.specs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 20px;    
    border-bottom-right-radius: 20px;  
}

.card-house h2{
    text-align: center;
    background-color: #ffe9ca;
    padding: 8px;
    box-shadow: 7px 7px 20px #c9c6c6;
    /* border-bottom-left-radius: 20px;     */
    /* border-bottom-right-radius: 20px;  */
}

.specs div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.specs div p{
    margin-bottom: 0;
    margin-left: 2%;
}
/* .specs div *{ 
    margin: 4%;
} */



/* 
@media (min-height: 900px) {
    .presentation{
        margin-top: 150px;
    }
} */
@media (max-width: 380px) {
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        width: 70%;
        height: 280px;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 10%;
    }

    .specs div{ 
       font-size: 0.6em;
    }
}
/* Dispositivos muy pequeños (teléfonos móviles en modo retrato, menos de 480px) */
@media (min-width: 380px) and (max-width: 480px) {
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        width: 70%;
        height: 300px;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 10%;
    }

    .specs div{ 
       font-size: 0.6em;
    }
}

/* Dispositivos pequeños (teléfonos móviles en modo paisaje, de 481px a 768px) */
@media (min-width: 481px) and (max-width: 550px) {
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 350px;
      
        width: 70%;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 5%;
    }

    .specs div{ 
        font-size: 0.7em;
     }
}
@media (min-width: 550px) and (max-width: 650px) {
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 350px;
      
        width: 65%;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 5%;
    }

    .specs div{ 
        font-size: 0.7em;
     }
}

@media (min-width: 650px) and (max-width: 769px) {
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 360px;
        width: 50%;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 5%;
    }

    .specs div{ 
        font-size: 0.7em;
     }
}

/* Tabletas en modo retrato y paisaje / pantallas bajas (de 769px a 1024px) */
@media (min-width: 769px) and (max-width: 850px) {
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 380px;
        width: 50%;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 10%;
    }

    .specs div{ 
        font-size: 0.8em;
     }
}
@media (min-width: 850px) and (max-width: 1024px) {
    .list-houses{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 400px;
        width: 40%;
    }

    .specs div{ 
        font-size: 0.8em;
     }
}
/* Pequeñas computadoras de escritorio (de 1025px a 1280px) */
@media (min-width: 1025px) and (max-width: 1125px) {
    .list-houses{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 450px;
        width: 40%;
    }

    .card-house:nth-child(2){
        margin-left: 2%;
    }

    .specs div{ 
        font-size: 0.8em;
     }
}

@media (min-width: 1125px) and (max-width: 1280px) {
    .list-houses{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 450px;
        width: 35%;
    }

    .card-house:nth-child(2){
        margin-left: 2%;
    }

    .specs div{ 
        font-size: 0.8em;
     }
}

/* Computadoras de escritorio medianas (de 1281px a 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    .list-houses{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 450px;
        width: 32%;
    }

    .card-house:nth-child(2){
        margin-left: 2%;
    }

    .specs div{ 
        font-size: 0.8em;
     }
}

@media (min-height: 1081px){
    .list-houses{
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 400px;
        width: 50%;
    }

    .card-house:nth-child(2){
        margin-left: 0;
        margin-top: 5%;
    }

  
}




/* 
@media (min-width: 1441px) {
    .list-houses{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .card-house{
        height: 450px;
        width: 30%;
    }

    .card-house:nth-child(2){
        margin-left: 2%;
    }

    .specs div{ 
        font-size: 0.8em;
     }
} */