.icon {
    text-decoration: none;
    color: white;
    width: 20%;
    height: 60%;
    margin-left: 2%;
    font-size: 2em;
    font-weight: bold;
}

.icon:hover {
    text-decoration: none;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #4a73b1;
    height: 75px;
}

footer nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

footer ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding-right: 0;
}

footer li {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

footer a {

    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #4a73b1;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 10px #c9c6c6;
    border-bottom: 5px solid #92dccd;
    z-index: 3;
}

header nav {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header ul {

    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100px;
    justify-content: end;
    align-items: center;
    list-style: none;
}

header li {
    margin-left: 6%;
    display: flex;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;

}

header a:hover {
    text-decoration: underline;
}

#myFooter {
    justify-content: space-between;
}

#myFooter li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#myFooter li>a {
    margin-left: 5%;
}

#myFooter p {
    display: flex;
    font-weight: bold;
    margin-bottom: 0;
    align-items: center;
}

#myFooter {
    color: white;
}