.points-interest {
    margin-top: 150px;
    text-align: center;
}

.list-interest {
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.point-of-interest {
    display: flex;
    align-items: center;
    height: 100px;
    width: 33%;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 7px 7px 20px #c9c6c6;
    font-size: 1.2em;
    text-decoration: none;
    overflow: hidden;
}

.point-of-interest > .title-link {
    width: 50%;
    color: black;
}

.point-of-interest > img {
    width: 50%;
    object-fit: cover;
    object-position: center; /* Ajusta la posición inicial */
    box-shadow: 7px 7px 20px #c9c6c6;
}

@media screen and (max-width: 1000px) {
    .point-of-interest {
        flex-direction: column;
        margin: 2%;
    }

    .point-of-interest > .title-link {
        width: 90%;
        height: 50%;
        color: black;
    }

    .point-of-interest > img {
        width: 100%;
        object-fit: cover; /* Asegura que la imagen cubra el contenedor */
        object-position: 30% 70%; /* Ajusta la posición según lo necesites */
        box-shadow: 7px 7px 20px #c9c6c6;
    }
}
