.show-house {
    margin: auto;
    width: 80%;
    margin-top: 100px;
    height: 700px;
}

.title-house {
    margin-top: 150px;
    text-align: center;
}

.photos {
    margin-top: 5%;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}

.first-photo {

    width: 40%;
    margin-right: 10px;

}

.first-photo img {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;

}

.side-photos {


    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espacio entre las fotos pequeñas */
    width: 40%;
}

.side-photo {
    width: 49%;
    /* Hace que las fotos pequeñas llenen su contenedor */
    /* Mantiene la proporción de la imagen */
}

.side-photo img {
    width: 100%;
    height: 100%;

}

.side-photo:nth-child(2)>img {
    border-top-right-radius: 20px;

}

.side-photo:nth-child(4)>img {

    border-bottom-right-radius: 20px;
}

.separator {
    border-top: 1px solid #c9c6c6;
    margin-top: 5%;
    margin-bottom: 5%;
}

.separator-spec {
    border-top: 1px solid #c9c6c6;
    margin-top: 0%;
    margin-bottom: 0%;
}

.house-specs {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.specs-container {
    width: 40%;
    height: 50%;

}

.specs {

    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.specs div {
    display: flex;
    justify-content: start;
    height: 20px;
    width: 100%;
}

.specs h5 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.individual-spec {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-bottom: 5%;
}

.individual-spec p {
    margin: 0;
    margin-left: 3%;
}


.fancybox-bg {
    background: rgba(48, 48, 48, 0.8);
}

.hidden {
    display: none;
}

#fixedCalendar {
    height: max-content;
    position: sticky;
    top: 100px;
}

#calendar {
    margin-left: 100px;
    padding-bottom: 80px;
    width: 500px;
    height: max-content;

}

#calendar.sticky {
    top: 100px;
    /* Cuando se vuelve pegajoso, se pega en la parte superior */
}

.fc-day-header,
.fc-day,
.fc-event-title {
    color: black;
}

.rules {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    flex-direction: column;
}

.rules>h4 {
    margin-left: 1.5%;
    margin-bottom: 1.5%;
}

.rules>div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.1em;
}

.rules>div>div {
    width: 30%;
}

/* Color de seleccion de fechas **/
.fc-highlight {
    background-color: #a7e6fc;
    /* Cambia el color según tus preferencias */
}

iframe {
    margin-top: 300px;
    padding: 100px;
    padding-top: 0;
    border-radius: 10px;
}

.fc-event-time {
    display: none;
}

.fc-event-title {
    margin-left: 5%;
    font-weight: bold;
}

#dateSelector {
    box-shadow: 1px 1px 5px rgb(192, 192, 192);
    border: 1px solid rgb(228, 228, 228);
    height: 250px;
    width: 60%;
    margin: auto;
    margin-top: 0%;
    margin-left: 28%;
    margin-bottom: 0;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#calendar.sticky {
    top: 100px;
    /* Cuando se vuelve pegajoso, se pega en la parte superior */
}

#dateSelector.sticky {
    top: 650px;
    /* Cuando se vuelve pegajoso, se pega en la parte superior */
}

.fc-event {
    border: 2px solid red;
}


#datePickDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceGenerator {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.border-price {
    border: 1px solid #c9c6c6;
    width: 80%;
}

.date {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    border: 1px solid #c9c6c6;
    border-radius: 10px;


}

.date>* {
    height: 60px;
}

.totalPrice {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.totalPrice div {
    font-weight: bold;
    display: flex;
    width: 30%;
}


.totalPrice div:first {
    justify-content: left;

}

.totalPrice div:nth-child(2) {
    justify-content: right;

}

.firstDay,
.finalDay {
    width: 50%;
}

.firstDay {
    border-right: 1px solid #c9c6c6;
}

.selectorTitle {
    display: flex;
    justify-content: start;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0;
}

.selectorTitle p {
    text-align: start;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 0;
    width: 100%;
}

.separator-date {
    border-top: 1px solid #cecece;
    width: 90%;
}


.fc-day {
    cursor: pointer;
}

#googleMaps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

#googleMaps iframe {
    margin-top: 5%;
}

#priceNight {
    text-align: left;
    width: 100%;
    margin-left: 21%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#priceNight>b {
    font-size: 1.3em;
}

#priceNight>p {
    margin-bottom: 0;
    margin-left: 2%;
}

.border-price {
    cursor: pointer;
}

.date>*:hover,
.people:hover {
    background-color: #e9e9e9;
}

#firstDay,
#finalDay {
    display: flex;
    justify-content: start;
    margin-left: 5%;
}




.datesOptions {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 287px;

    z-index: 1;
    top: 650px;
    flex-direction: column;
    background-color: rgba(180, 49, 49, 0);
    overflow: auto;
    height: 160px;
    animation: desplegarMenu 0.3s ease-in-out forwards;

}

.optionDay {
    width: 100%;
    border: 1px solid #c9c6c6;
    border-top: none;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.optionDay:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

.optionDay>div {
    width: 50%;
    text-align: center;
}

.optionDay:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.optionDay>div:first-child {
    border-right: 1px solid #e2e1e1;
    width: 44%;

}

.optionDay>div:first-child {
    border-right: 1px solid #e2e1e1;
    width: 56%;

}

@keyframes desplegarMenu {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#bottomSpace {
    height: 150px;
    width: 100%;

}

#myFooter {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: -70px;
    transition: bottom 0.3s;
}

/* Dispositivos muy pequeños (teléfonos móviles en modo retrato, menos de 480px) */
@media (max-width: 480px) {
    body {
        width: 100%;

    }

    .title-house {
        font-size: 1.3em;
    }

    .photos {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 13%;
        height: 200px;
    }

    .first-photo {
        width: 100%;

    }

    .first-photo img {
        border-radius: 0px;
    }

    .side-photos {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }

    .side-photo {
        width: 22%;
    }

    .side-photos img:first-child {
        border-radius: 0px;
    }


    .show-house {
        width: 100%;
        margin: auto;
        height: 370px;
    }


    .house-specs .specs-container {
        width: 100%;
    }

    .datePickDiv {
        width: 100%;
        margin-top: 10%;

    }

    #fixedCalendar {
        width: 100%;
    }

    #calendar {
        margin: 0;
        margin-left: -15px;
        width: 110%;
        height: 500px;
        padding-bottom: 4%;
    }

    #dateSelector {
        margin: 0;
        width: 100%;
        margin-top: 3%;

    }
}

/* Dispositivos pequeños (teléfonos móviles en modo paisaje, de 481px a 768px) */
@media (min-width: 481px) and (max-width: 650px) {
    body {
        width: 95%;

    }

    .title-house {
        font-size: 1.3em;
    }

    .photos {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 13%;
        height: 200px;
    }

    .first-photo {
        width: 100%;

    }

    .first-photo img {
        border-radius: 0px;
    }

    .side-photos {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }

    .side-photo {
        width: 22%;
    }

    .side-photos img:first-child {
        border-radius: 0px;
    }


    .show-house {
        width: 100%;
        margin: auto;
        height: 370px;
        margin-bottom: 6%;

    }


    .house-specs .specs-container {
        width: 100%;
    }

    .datePickDiv {
        width: 100%;
        margin-top: 10%;

    }

    #fixedCalendar {
        width: 100%;
    }

    #calendar {
        margin: 0;
        margin-left: -15px;
        width: 110%;
        height: 500px;
        padding-bottom: 4%;
    }

    #dateSelector {
        margin: 0;
        width: 100%;
        margin-top: 3%;

    }
}

/* Tabletas en modo retrato y paisaje / pantallas bajas (de 769px a 1024px) */
@media (min-width: 650px) and (max-width: 769px) {
    body {
        width: 100%;

    }

    .title-house {
        font-size: 1.3em;
    }

    .photos {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 13%;
        height: 200px;
    }

    .first-photo {
        width: 100%;

    }

    .first-photo img {
        border-radius: 0px;
    }

    .side-photos {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }

    .side-photo {
        width: 22%;
    }

    .side-photos img:first-child {
        border-radius: 0px;
    }


    .show-house {
        width: 90%;
        margin: auto;
        height: 370px;
        margin-bottom: 6%;

    }

    .house-specs {
        width: 80%;
    }

    .house-specs .specs-container {
        width: 100%;
    }

    #datePickDiv {
        width: 90%;
        margin-top: 10%;

    }

    #fixedCalendar {
        width: 100%;
    }

    #calendar {
        margin: 0;
        margin-left: -20px;
        width: 110%;
        height: 500px;
        padding-bottom: 4%;
    }

    #dateSelector {
        margin: 0;
        width: 100%;
        margin-top: 3%;

    }

    #googleMaps {
        padding: 0;
    }
}

/* Tabletas en modo retrato y paisaje / pantallas bajas (de 769px a 1024px) */
@media (min-width: 769px) and (max-width: 842px) {
    body {
        width: 100%;

    }

    .title-house {
        font-size: 1.3em;
    }

    .photos {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 17%;
        height: 200px;
    }

    .first-photo {
        width: 100%;

    }

    .first-photo img {
        border-radius: 0px;
    }

    .side-photos {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }

    .side-photo {
        width: 22%;
    }

    .side-photos img:first-child {
        border-radius: 0px;
    }


    .show-house {
        width: 100%;
        margin: auto;
        height: 370px;
        margin-bottom: 6%;

    }

    .house-specs {
        width: 80%;
        margin-top: 20%;

    }

    .house-specs .specs-container {
        width: 100%;
    }

    #datePickDiv {
        width: 90%;
        margin-top: 10%;

    }

    #fixedCalendar {
        width: 100%;
    }

    #calendar {
        margin: 0;
        margin-left: -20px;
        width: 110%;
        height: 500px;
        padding-bottom: 4%;
    }

    #dateSelector {
        margin: 0;
        width: 100%;
        margin-top: 3%;

    }

    #googleMaps {
        padding: 0;
    }
}

/* Pequeñas computadoras de escritorio (de 1025px a 1280px) */
@media (min-width: 842px) and (max-width: 1024px) {
    body {
        width: 95%;

    }

    .title-house {
        font-size: 1.3em;
    }

    .photos {
        width: 100%;
        height: 350px;
    }

    .side-photo {
        width: 45%;
    }


    .show-house {
        width: 100%;
        margin: auto;
        height: 370px;
        margin-bottom: 6%;

    }

    .house-specs {
        width: 90%;
        margin-top: 10%;

    }

    .house-specs .specs-container {
        width: 50%;

    }

    #datePickDiv {
        margin-top: -1%;
        width: 48%;
    }

    #fixedCalendar {
        width: 100%;
    }

    #calendar {
        margin-left: 3%;
        width: 90%;
        /* height: 400px; */
        height: 430px;
        padding-bottom: 1%;
    }

    #dateSelector {
        margin: auto;
        height: 180px;
        margin-top: 2%;
        width: 80%;
    }

    .datesOptions {
        top: 550px;
        width: 20px;
    }
}

/* Pequeñas computadoras de escritorio (de 1025px a 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    .show-house{
        height: 500px;
    }
    .photos{
        height: 350px;
    }
    .side-photo {
        width: 45%;
    }
    .first-photo{
        width: 50%;
    }
    .specs-container{
        width: 40%;
    }
    #datePickDiv{
        width: 50%;
    }

    #calendar{
        padding-bottom: 1%;
    }

    #dateSelector{
        height: 200px;
    }
}

/* Computadoras de escritorio medianas (de 1281px a 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Estilos */
}

/* Computadoras de escritorio grandes (más de 1441px) */
@media (min-width: 1441px) {
    /* Estilos */
}