.show-house{
    margin: auto;
    width: 80%;
    height: 650px;
    border: 1px solid #c9c6c6;
    box-shadow: 7px 7px 20px #c9c6c6;

    border-radius: 20px;
    margin-top: 100px;
}

.title-house{
    margin: 2%;
}
.photos{
    height: 200px;
    margin: 2%;
}

.image{
    height: 200px;
}
@media (min-height: 900px) {
    .show-house{
        margin-top: 150px;
    }
}